[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
isort = "<5"
wemake-python-styleguide = "*"
flake8 = "*"
ipython = "*"

[packages]
aio-pika = "==6.8.0"
loguru = "*"
pydantic = "*"

[requires]
python_version = "3.8"
